{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique{% endblock %}

{% block content %}
<h1>Mon compte</h1>
bienvenue {{ app.user.firstname }}
<hr>

<a href="{{ path('account_password') }}"> Modifier mon mot de passe</a><br>
<a href="{{ path('account_adress') }}"> Gérer mes adresses</a>

<hr>
{% endblock %}
